*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
/*	font-family: 'Indie Flower', cursive;*/
}



/*landing page*/

#jumbo-land{
	height: 100vh;
	background-image: url('../images/bgindex6.jpg');
	/*background:no-repeat;*/
	background-size: cover;
	padding-top: 5%;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 0; /*to remove rounded corners of jumbo*/
}
/*end landing page*/

.jumbotron h1 {
	/*font-family: 'Motserrat', sans-serif;*/
	font-family: 'Rock Salt', cursive;
	color:Yellow;

}

.jumbotron hr{
	background-color: #fff;/* white*/
}

.btn a{
	/*margin-top: 80%;*/
	text-decoration: none;
	color: white;
}

.btn:hover{
	background-color: green;
	opacity: 1;


}

#button{
	opacity: 0.7;
}

/*
.jumbotron-section{
	background-image: url('/home/tuittday/Documents/Batch30/cp/sandbox/assets/images/bgimage.jpeg');
}*/


#slogan{
	border: 5px solid yellow;
	background-image: url('../images/slogan.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
	border-style: solid;
	text-align: center;
	width: 400px;
	padding:40px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;

}


#slogan{
	color: black;
	font-size: 30px;
}
/*------------------------------------end of index.html----------------------*/


/*---------------------------------Start of Home.html css--------------------------*/
/*#home-landing{
	background-image: url('../images/john.jpg');
	background-size: cover;
	color: #fff;
	padding:20%;
}
*/

#carousel-home img{
	height: 80vh;
	width: 100vw;

}

#background{
	background-image: url('../images/bgwood.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	opacity: 1;
}

#home-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}
/*----------------------------------------end of home.html---------------------------*/

/*------------------------------------Start of About.hmtl----------------------------*/
#jumbotron-about{

	background-image: url('../images/bgabout3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-image: 
	height: 90vh;
	border-radius: 0;

}

#landing-text{
	font-size: 45px;
	color:white;
}


#landing-about{
	color: yellow;
	font-size: 5em;
	letter-spacing: 100px;
	font-family: 'Baloo Chettan', cursive;
	padding-top: 10vh;
}

#mission{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 50px;
	color: black;

}

#mission-t{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
font-size: 45px;


}

#vision{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 50px;
	color: black;
}

#vision-t{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 45px;
}

.about-tags{
	font-weight: bolder;
	font-family: 'Baloo Chettan', cursive;

}

#carousel-about{
	height: 40vh;

}

.carousel-inner{
	height: 50vh;
	margin-bottom: 0px;
	background-image: url('../images/bgwood.jpg');
	color:white;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: 
/*	height: 90vh;*/
	border-radius: 0;
}

/*.carousel-inner p{
	height: 40vh;


}
*/


.carousel-indicators{
	margin-bottom:0px;

}

#about-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}


/*------------------------------------end of about.html------------------*/

/*-----------------------------------start gallery page-------------------*/
#head-gall{
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #141414;
	color: #f2f2f2;
}

.background-gallery{
	background-image: url('../images/bghome1.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



#gallery-items .card{
	height: 400px;
	margin-bottom: 20px;
}

#gallery-items .card img{
	height: 250px;
	margin-bottom: 50px;
}

ul li {
text-align: center;
list-style: none;
}

.list a{
	text-decoration: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;
}


ul li a:hover{
	background-color: green;
}


/*-------------------------------end of gallery----------------------------*/

/*----------------------------luzon------------------------------*/
.card-text{
	text-align: justify;
   margin: 5px;
}

#bg-luzon{
	background-image: url('../images/bgwood.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

#luzon-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}



#locations-luzon .card {
	height: 100%;
}

#card-s img{
	height: 100%;
}

#card-batangas img{
	height: 100%;
}

#card-subic img{
	height: 100%;
}

#tagaytay-c img{
	height: 50vh;
}

#baguio-c img{
	height: 50vh;
}

#batangas-c img{
	height: 50vh;
}

#subic-c img{
	height: 50vh;
}
/*------------------------end of luzon-------------------------------*/

/*------------------------visayas------------------------*/
#bg-visayas{
	background-image: url('../images/bgwood.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}


#visayas-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}

#locations-visayas .card {
	height: 100%;
}

#card-bohol img{
	height: 100%;
}

#bohol-c img{
	height: 50vh;
}

#cebu-c img{
	height: 50vh;
}

#palawan-c img{
	height: 50vh;
}

#siquijor-c img{
	height: 50vh;
}

/*----------------------------end of visayas--------------------------*/

/*----------------------------mindanao--------------------------------*/
#bg-mindanao{
	background-image: url('../images/bgwood.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}


#mindanao-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}

#locations-mindanao .card {
	height: 100%;
}


#card-davao img{
	height: 100%;
}

#davao-c img{
	height: 50vh;
}

#cagayan-c img{
	height: 50vh;
}

#surigao-c img{
	height: 50vh;
}

#zambaonga-c img{
	height: 50vh;
}

/*---------------------------end of mindanao---------------------------*/




/*---------------------------------contact---------------------------------*/

#background-contact{
	background-image: url('../images/bgwood.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;

}

#contact-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}








/*---------------------media-queries----------------------------------*/
/*mobile view*/
@media only screen and (max-width: 400px){

#slogan{
	border: 5px solid yellow;
	background-image: url('../images/slogan.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
	border-style: solid;
	text-align: center;
	width: 200px;
	padding:10px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;

}


#slogan{
	color: black;
	font-size: 30px;
}

/*---------------------------------Start of Home.html css--------------------------*/
/*#home-landing{
	background-image: url('../images/john.jpg');
	background-size: cover;
	color: #fff;
	padding:20%;
}
*/

#carousel-home img{
	height: 80vh;

}

#background{
	background-image: url('../images/bgwood.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	opacity: 1;
}

#home-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}



.home-responsive{
	width: 100%;
}


#home-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 0;
}
/*----------------------------------------end of home.html---------------------------*/

/*------------------------------------Start of About.hmtl----------------------------*/
#jumbotron-about{
	/*background-color: #141414;*/
	background-image: url('../images/bgabout3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-image: 
	height: 90vh;
	border-radius: 0;

}

#landing-text{
	font-size: 45px;
	color:white;
}


#landing-about{
	color: yellow;
	font-size: 5em;
	letter-spacing: 100px;
	font-family: 'Baloo Chettan', cursive;
	padding-top: 10vh;
}

#mission{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 50px;
	color: black;

}

#mission-t{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
font-size: 45px;
z-index: 999;


}

#vision{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 50px;
	color: black;
}

#vision-t{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 45px;
}

.about-tags{
	font-weight: bolder;
	font-family: 'Baloo Chettan', cursive;

}

#carousel-about{
	height: 40vh;

}

.carousel-inner{
	height: 50vh;
	margin-bottom: 0px;
	background-image: url('../images/bgwood.jpg');
	color:white;
}

.carousel-inner p{
	height: 40vh;


}



.carousel-indicators{
	margin-bottom:0px;

}

#about-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 0;
}

#luzon-name{
	margin-left: 0;
	padding-left: 0;
}


#visayas-name{
	margin-left: 0;
	padding-left: 0;
}

#mindanao-name{
	margin-left: 0;
	padding-left: 0;
}


/*------------------------------------end of about.html------------------*/


#contact-name{
		margin-left: 0;
	padding-left: 0;
}

#landing-text{
	font-size: 30px;
	color:white;
}


#landing-about{
	color: yellow;
	font-size: 5em;
	letter-spacing: 10px;
	font-family: 'Baloo Chettan', cursive;
	padding-top: 10vh;
}

#mission{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 10px;
	color: black;

}

#mission-t{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
font-size: 15px;


}

#vision{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 10px;
	color: black;
}

#vision-t{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 15px;
}







}


/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px){

/*---------------------------------Start of Home.html css--------------------------*/
/*#home-landing{
	background-image: url('../images/john.jpg');
	background-size: cover;
	color: #fff;
	padding:20%;
}
*/

#carousel-home img{
	height: 80vh;

}

#background{
	background-image: url('../images/bgwood.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	opacity: 1;
}

#home-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}
/*----------------------------------------end of home.html---------------------------*/

/*------------------------------------Start of About.hmtl----------------------------*/
#jumbotron-about{
	/*background-color: #141414;*/
	background-image: url('../images/bgabout3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-image: 
	height: 90vh;
	border-radius: 0;

}

#landing-text{
	font-size: 45px;
	color:white;
}


#landing-about{
	color: yellow;
	font-size: 5em;
	letter-spacing: 100px;
	font-family: 'Baloo Chettan', cursive;
	padding-top: 10vh;
}

#mission{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 50px;
	color: black;

}

#mission-t{
	text-align:justify;
	margin-left: 100px;
	margin-right: 100px;
font-size: 45px;


}

#vision{
	height: 100%;
	font-size: 3em;
	text-align: center;
	letter-spacing: 50px;
	color: black;
}

#vision-t{
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 45px;
}

.about-tags{
	font-weight: bolder;
	font-family: 'Baloo Chettan', cursive;

}

#carousel-about{
	height: 40vh;

}

/*.carousel-inner{
	height: 50vh;
	margin-bottom: 0px;
	background-image: url('../images/bgwood.jpg');
	color:white;
}*/

.carousel-inner{
	height: 50vh;
	margin-bottom: 0px;
	background-image: url('../images/bgwood.jpg');
	color:white;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: 
/*	height: 90vh;*/
	border-radius: 0;
}





/*.carousel-inner p{
	height: 40vh;


}*/



.carousel-indicators{
	margin-bottom:0px;

}

#about-name{
	font-family: 'Permanent Marker', cursive;
	padding-top: 13px;
	color: yellow;
	text-align: center;
	padding-left: 500px;
}


/*------------------------------------end of about.html------------------*/



}


/*desktop view*/
@media only screen and (min-width: 961px){

}	